* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

img {
    padding: 5px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.vertical-menu{
    margin-top:-2.5%;
}
.wrapper {
    text-align: center;
    margin: 5%;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
}

.photo-grid {
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.photo-grid ul {
list-style: none;
margin: 0;
padding: 0;
/* border: 1px solid #bbb; */
}

.photo-grid li {
float: left;
position: relative;
width: 50%;
/* border: 1px solid #bbb; */
}

@media only screen and (max-width: 960px) {
.container {
    max-width: 960px;
}

.photo-grid li {
    width: 33.333%;
}

.photo-grid li:last-child {
    display: none;
}
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }  

    .photo-grid li {
        width: 50%;
    }
    
    .photo-grid li:last-child {
        display: inline-block;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 300px;
    } 

    .photo-grid li {
        width: 100%;
    }
    
    .photo-grid li:last-child {
        display: inline-block;
    }
}